*,
* ::before,
* ::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image:  url("https://alistapart.com/d/responsive-web-design/ex/site/rag.png"), url("https://alistapart.com/d/responsive-web-design/ex/site/bg.png");
  background-repeat: repeat-x, repeat;
  font: normal 100% Cambria, Georgia, serif;
}

#wrap {
  width: 100%;
  margin: auto;
  padding: .8em;
}


#navigation {
  margin: auto;
  margin-top: -0.8em;
  width: 100%;
  padding: 2em 0em;
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-repeat: no-repeat;
  background-position:  0 50%;
}

#navigation ul {

  /*background-repeat: no-repeat;*/
  /*border-top: 1px solid black;*/
  /*margin: auto;*/
  -webkit-padding-start: 0px;
  display: block;
  margin: 0px 0px;
  /*width: 100%;*/
}

#navigation li {
  list-style: none;
  padding: 1.1em 0em;
  /*padding-bottom: 30px;*/
  /*margin: -1em 0em;*/
  display: block;
  /*border-bottom: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  /*display: inline-block;*/
  width: 32%;
  float: left;
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-repeat: no-repeat;
  background-position:  0 420%;
}

#navigation li.first, #navigation li.middle {
  margin-right: 2%;
}


a {
  text-decoration: none;
}

.caption {
  font-family: Georgia;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 10px;
  padding-top: 0px;
  line-height: 12px;
  margin-top: 5px;
}

.bold {
  font-family: Georgia;
  font-size: 14px;
  font-weight: bold;
}


.red {
  color: #87040A;
}

.bold {

}

#logo {
 width: 100%;
}

#logo img {
  display: block;
  margin: auto;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

h2 {
  font-family: georgia;
}

h1+p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  line-height: 1.35em;
}


.photoContainer {
  float: left;
  width: 48.5%;
}

div.photoContainer:nth-of-type(odd) {
 margin-right: 3%;
}

.photoContainer img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}


.caption {
  text-align: center;
}


.footer {
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  clear: both;
  padding-top: 30px;
}

.content h2 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/bg.png"), url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-size: 220px, auto;
}

.amp {
  font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .photoContainer {
    width: 30.5%;
  }

  div.photoContainer:nth-of-type(odd) {
   margin-right: 0;
  }
  div.photoContainer:nth-of-type(1), div.photoContainer:nth-of-type(2), div.photoContainer:nth-of-type(4), div.photoContainer:nth-of-type(5) {
   margin-right: 4%;
  }
}

/*@media screen and (min-width: 601px) {
  .col-1 {
    width: 30%;
    float: left;
  }

  .content {
    width: 60%;
    float: left;
  }
}*/
/*.footer div::after {
  content: "";
background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
background-repeat: no-repeat;
}*/
