*,
* ::before,
* ::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image:  url("https://alistapart.com/d/responsive-web-design/ex/site/rag.png"), url("https://alistapart.com/d/responsive-web-design/ex/site/bg.png");
  background-repeat: repeat-x, repeat;
  font: normal 100% Cambria, Georgia, serif;
}

#wrap {
  width: 100%;
  margin: auto;
  padding: .8em;
}


#navigation {
  margin: auto;
  width: 100%;
  padding: 2em 0em;
  font-family: sans-serif;
  text-align: center;
}

#navigation ul {
  border-top: 1px solid black;
  margin: auto;
  -webkit-padding-start: 0px;
  display: block;
  /*width: 100%;*/

}

#navigation li {
  list-style: none;
  padding: 1em 0em;
  margin: 0em 0em;
  display: block;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 10px;
  /*display: inline-block;*/
  width: 32%;
  float: left;
}

#navigation li.first, #navigation li.middle {
  margin-right: 2%;
}


.red {
  color: #87040A;
}

.bold {

}

#logo {
 width: 100%;
}

#logo img {
  display: block;
  margin: auto;
  margin-top: 45px;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

h2 {
  font-family: georgia;
}

h1+p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  line-height: 1.35em;
}


.photoContainer {
  float: left;
  width: 48.5%;
}

div.photoContainer:nth-of-type(odd) {
 margin-right: 3%;
}

.photoContainer img {
  width: 100%;
}


.caption {
  text-align: center;
}


.footer {
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  clear: both;
  padding-top: 30px;
}

.content h2 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/bg.png"), url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-size: 220px, auto;


}

.amp {
  font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}

/*.footer div::after {
  content: "";
background-image: url("https://alistapart.com/d/responsive-web-design/ex/site/ornament.png");
background-repeat: no-repeat;
}*/
